{% extends "base.twig" %}

{% block title %}Approval{% endblock %}
{% block content %}
    <p>An application wants to act on your behalf.</p>

    <dl>
        <dt>Application</dt><dd><code>{{ client_origin }}</code></dd>
        <dt>Permissions</dt><dd><code>{{ scope }}</code></dd>
    </dl>

    <form method="post">
        <button type="submit" name="approve" value="no">Reject</button>
        <button type="submit" name="approve" value="yes">Approve</button>
    </form>
{% endblock %}
