<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}
    
    <h2>Approval</h2>

    <p>An application wants to act on your behalf.</p>

    <dl>
        <dt>Application</dt><dd>{{ client_id }}</dd>
        <dt>Permissions</dt><dd>{{ scope }}</dd>
        <dt>Location</dt><dd>{{ redirect_uri }}</dd>
    </dl>

    <form method="post">
        <button class="error" type="submit" name="approve" value="no">Reject</button>
        <button class="success" type="submit" name="approve" value="yes">Approve</button>
    </form>

    {% include 'footer.twig' %}
</body>
</html>
