{% extends "base.twig" %}

{% block title %}Sign In{% endblock %}
{% block content %}
    {% if _form_auth_invalid_credentials %}
        <p>
            The credentials you provided are not correct. Please try again!
        </p>
    {% endif %}

    <form method="post" action="authenticate">
{% if _form_auth_invalid_credentials %}
        <p>
                <label for="userName">Username</label><br>
                <input type="text"     id="userName" name="userName" autocapitalize="off" placeholder="Username" value="{{ _form_auth_invalid_credentials_user }}" required>
        </p>
        <p>
                <label for="userPass">Password</label><br>
                <input type="password" id="userPass" name="userPass" placeholder="Password" autofocus required>
        </p>
{% else %}
        <p>
                <label for="userName">Username</label><br>
                <input type="text"     id="userName" name="userName" autocapitalize="off" placeholder="Username" autofocus required>
        </p>
        <p>
                <label for="userPass">Password</label><br>
                <input type="password" id="userPass" name="userPass" placeholder="Password" required>
        </p>
{% endif %} 
        <p>
            <input type="hidden" name="_form_auth_redirect_to" value="{{ _form_auth_redirect_to }}">
            <button type="submit">Sign In</button>
        </p>
    </form>
{% endblock %}
