<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>remoteStorage</title>
  <link rel="stylesheet" type="text/css" href="{{requestRoot}}css/simple.min.css">
  <link rel="stylesheet" type="text/css" href="{{requestRoot}}css/screen.css">
</head>
<body>
    <header>
        <nav>
{% if user_address is defined %}
            <a href="logout">Sign Out</a>
{% endif %}
        </nav>
    </header>
    <main>
        <h2>{% block title %}{% endblock %}</h2>
        <div>{% block content %}{% endblock %}</div>
    </main>
    <footer>
        Powered by <a href="https://github.com/fkooman/php-remote-storage">php-remote-storage</a>
    </footer>
</body>
</html>
