<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <h2>Error</h2>

    <h2>{{ code }}</h2>

    <p>
    An error occurred.
    </p>

    <p class="error">
        <code>
            {{ message }}
        </code>
    </p>

    {% include 'footer.twig' %}
</body>
</html>
