<div class="footer">
    {% if 'development' == serverMode %}
        <p>
            <span class="error">development mode</span>
        </p>
    {% endif %}
    Powered by <a href="https://github.com/fkooman/php-remote-storage">php-remote-storage</a>
</div>
