<div class="footer">
    Powered by <a href="https://github.com/fkooman/php-remote-storage">php-remote-storage</a>
    {% if 'development' == serverMode %}
        <div>
            <span class="err">development mode</span>
        </div>
    {% endif %}
</div>
