<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}
        <p>
            Please sign in with your username and password to this <a href="https://remotestorage.io/">remoteStorage</a> service.
        </p>
        <form class="auth" method="post" action="{{ rootFolder|e }}_auth/form/verify">
            {% if login_hint %}
                <input type="text"     name="userName" placeholder="Username" value="{{ login_hint|e }}" required>
                <input type="password" name="userPass" placeholder="Password" autofocus required>
            {% else %}
                <input type="text"     name="userName" placeholder="Username" autofocus required>
                <input type="password" name="userPass" placeholder="Password" required>
            {% endif %} 
            <button class="info" type="submit">Sign in</button>
        </form>
        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
