<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}

        {% if 'development' != serverMode %}
            {% if redirect_uri|lower starts with 'http://' %}
                <p class="warning">
                    <strong>NOTE</strong>: the application does not use TLS, if you continue the access token may be compromised!
                </p>
            {% endif %}
        {% endif %}

        <p>An application wants to access your <a href="https://remotestorage.io/">remoteStorage</a> data.</p>
       
        <table>
            <tr><th>Application</th><td><code>{{ client_id|e }}</code></td></tr>
            <tr><th>Permissions</th><td><code>{{ scope|e }}</code></td></tr>
        </table>

        <form method="post" action="{{ request_url|e }}">
            <button class="error" type="submit" name="approval" value="no">Reject</button>
            <button class="info"  type="submit" name="approval" value="yes" autofocus>Approve</button>
        </form>
        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>
