<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div id="container">
        {% include 'header.twig' %}
        <p>
            You are currently logged in as <strong>{{ user_id|e }}</strong>.
        </p>

        <p>An application wants to access your <a href="https://remotestorage.io/">remoteStorage</a> data.</p>

        <table>
            <tr><th>Application</th><td><code>{{ client_id|e }}</code></td></tr>
            <tr><th>Permissions</th><td><code>{{ scope|e }}</code></td></tr>
        </table>

        <form method="post" action="{{ request_url|e }}">
            <button class="error" type="submit" name="approval" value="no">Reject</button>
            <button class="info"  type="submit" name="approval" value="yes" autofocus>Approve</button>
        </form>
    </div> <!-- /container -->
</body>
</html>
