<div class="header">
    <!-- logo from https://github.com/remotestorage/design (Creative Commons Attribution Share-Alike 4.0) -->
    <!-- <a href="{{ requestRoot }}"><img src="{{ requestRoot }}img/rs.svg" title="remoteStorage" alt="remoteStorage"></a> -->

    {% if show_account_icon is defined and show_account_icon %}
    <a href="{{ requestRoot }}_account">
        {% if user_id is defined and user_id %}
            <span>{{ user_id }}</span>
        {% else %}
            <span>Sign In</span>
        {% endif %}
    </a>
    {% endif %}
</div>
