<ul class="menu">
  <li class="logo">remoteStorage</li>
    {% if show_account_icon is defined and show_account_icon %}
    <li>
        {% if user_id is defined and user_id %}
            <a href="account">{{ user_id }}</a>
        {% else %}
            <a href="account">Sign In</a>
        {% endif %}
    </li>
    {% endif %}
</ul>
