<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>remoteStorage</title>
</head>
<body>
    <div id="container">
        <div class="header">
            <a href="."><img src="img/rs.svg" alt="remoteStorage"></a>
            <!-- <h1>remoteStorage</h1> -->
        </div>

        <p>
            Welcome to this <a href="https://remotestorage.io/">remoteStorage</a> server!
        </p>
        
        <p class="warning">
            <strong>NOTE</strong>: you need to have an account on this server to be able to use it! You can always <a href="https://github.com/fkooman/php-remote-storage/">run your own</a>!
        </p>

        <p>
            Use an application that supports <a href="https://remotestorage.io/">remoteStorage</a> 
            and connect with this service. Some applications you could use:
        </p>
        <ul>
            <li><a href="https://sharesome.5apps.com/">Sharesome</a></li>
            <li><a href="https://webmarks.5apps.com/">Webmarks</a></li>
            <li><a href="https://remotestorage-browser.5apps.com/">remoteStorage Browser</a></li>
        </ul>
       
        <p>
            <a href="_oauth/approvals">Manage</a> your application permissions.
        </p>

    </div> <!-- /container -->
</body>
</html>
