<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>remoteStorage</title>
</head>
<body>
    <div id="container">
        <div class="header">
            <a href="https://remotestorage.io/"><img src="img/rs.svg" alt="remoteStorage"></a>
            <h1>remoteStorage</h1>
        </div>

        <p>
            Welcome to the PHP remoteStorage server!
        </p>

        <p>
            Use an application that supports <a href="https://remotestorage.io/">remoteStorage</a> 
            and connect with this service!
        </p>
        
        <p>
            A number of applications you could use:
        </p>
        <ul>
            <li><a href="https://sharesome.5apps.com/">Sharesome</a></li>
            <li><a href="https://webmarks.5apps.com/">Webmarks</a></li>
            <li><a href="https://remotestorage-browser.5apps.com/">remoteStorage Browser</a></li>
        </ul>
       
        <p>
            You can manage the list of applications that you approved 
            <a href="approvals">here</a>. 
        </p>

    </div> <!-- /container -->
</body>
</html>
