<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <p>
        Welcome to this <a href="https://remotestorage.io/">remoteStorage</a> 
        server!
    </p>

    <p class="success">
        Use an <a href="https://wiki.remotestorage.io/Apps">application</a> that supports 
        remoteStorage and connect with this service or run your own
        <a href="https://wiki.remotestorage.io/Servers">server</a>!
    </p>

    {% include 'providerNote.twig' ignore missing %}

    {% include 'footer.twig' %}
</body>
</html>
