body {
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    font-size: 90%;
    max-width: 55em;
    margin: 0 auto;
    color: #555;
    line-height: 1.4;
    padding: 0.3em;
    text-align: justify;
}

.text-right {
    text-align: right;
}
    
a {
    color: #222;
}

ul.menu {
    padding: 0;
}

ul.menu li {
    display: inline-block;
/*    border: 1px solid #000;*/
    height: 48px;
}

ul li.logo {
    color: transparent; /* hide text */
    background-size: 42px 48px;
    background-image: url("../img/rs.svg");
    background-repeat: no-repeat;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset button {
    margin-top: 1em;
}

p.success, p.success a, span.success, span.success a {
    background-color: #008000;
    border: 1px solid #007000;
    color: #fff;
}

p.warning, p.warning a, span.warning, span.warning a {
    background-color: #ff8c00;
    border: 1px solid #ef7c00;
    color: #fff;
}

p.error, p.error a, span.error, span.error a {
    background-color: #dc143c;
    border: 1px solid #cc042c;
    color: #fff;
}

p.plain, p.plain a, span.plain, span.plain a {
    background-color: #f4f4f4;
    border: 1px solid #e4e4e4;
    color: #000;
}

p.plain, p.success, p.warning, p.error, span.plain, span.success, span.warning, span.error {
    border-radius: 0.5em;
}

span.plain, span.success, span.warning, span.error {
    padding: 0.3em 0.5em;
    font-weight: bold;
    font-size: 85%;
}

p.plain, p.success, p.warning, p.error {
    padding: 1em;
}

table {
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    background-color: #eee;
    color: #555;
}

tbody th {
    vertical-align: top;
}

td, th {
    padding: 0.8em 0.5em;
}

tbody tr:nth-child(even) {
   background-color: #f4f4f4;
}

label {
    font-weight: bold;
    display: block;
    margin: 0.7em 0 0.3em 0;
}

hr {
    display: none;
}

div.footer {
    margin-top: 2em;
    text-align: center;
    color: #aaa;
}

div.footer a {
    color: #aaa;
}
