body {
    max-width: 600px;
    margin: 1em auto;
}

div.header {
}

div.header img {
    height: 3em;
}

div.header h1 {
    display: inline;
}

p.warning {
    background-color: #fc0;
    border: 1px solid #da0;
    color: #000;
    padding: 1em;
}

p.plain {
    background-color: #eee; 
    border: 1px solid #ccc;
    color: #000;
    padding: 1em;
}

a {
    color: #000;
}

button {
    padding: 0.4em;
    background-color: #ddd;
    border: 1px solid #bbb;
    color: #000; 
}

button.info {
    background-color: #063;
    border: 1px solid #041;
    color: #fff; 
}

button.warning {
    background-color: #fc0;
    border: 1px solid #da0;
    color: #000; 
}

button.error {
    background-color: #c00;
    border: 1px solid #a00;
    color: #fff;
}

table {
    width: 100%;
    margin: 1em 0;
}

td, th {
    padding: 0.5em 0;
}

th {
    text-align: left;
}

p {
    text-align: justify;
}

input[type="text"], input[type="password"] {
    padding: 0.5em;
    display: block;
    margin: 0.5em 0;
}
