body {
    padding: 0.25em;
    background-color: #fff;
}

div#container {
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

p.warn {
    background-color: #fc0;
    border: 1px solid #da0;
    color: #000;
    padding: 1em;
}

p.warn a {
    color: #000;
}

button.info {
    background-color: #063;
    border: 1px solid #041;
    color: #fff; 
}

button.warn {
    background-color: #fc0;
    border: 1px solid #da0;
    color: #000; 
}

a.header {
    text-decoration: none;
    color: #000;
}

table td {
    padding: 0.5em;
}
