#
# PRODUCTION
#

# Storage folder
storageDir: /var/lib/php-remote-storage/storage

# Twig template cache
templateCache: /var/lib/php-remote-storage/tpl

Users:
    # foo:bar
    #foo: $2y$10$sWzE0MjAP13srnNI/Pg8SuBM6LVmq8/hnznJwkQRF00Obe321PqGq

# Database configuration for file metadata and OAuth tokens
Db:
    dsn: 'sqlite:/var/lib/php-remote-storage/rs.sqlite'
    #dsn: 'mysql:host=localhost;dbname=rs'
    #username: rs
    #password: s3cr3t
    #dsn: 'pgsql:host=localhost;port=5432;dbname=XYZ;user=ABC;password=DEF'
