#
# DEVELOPMENT
#

serverMode: development

# validity of OAuth token (90 days)
tokenValidity: 7776000

# Users
Users:
    # foo:bar
    foo: $2y$10$sWzE0MjAP13srnNI/Pg8SuBM6LVmq8/hnznJwkQRF00Obe321PqGq
